In [ ]:
l = [1,2,3,4,]
l1 = []
for i in l:
    l1.append(i**2)
l1

[1, 4, 9, 16]

In [ ]:
l
[i**2 for i in l]

[1, 4, 9, 16]

In [ ]:
[i for i in l if i % 2 ==0]

[2, 4]

In [ ]:
l1 = ["shiva", "shubham", "Sudhir", "naman", "karan"]
[i.upper() for i in l1]

['SHIVA', 'SHUBHAM', 'SUDHIR', 'NAMAN', 'KARAN']

In [ ]:
l
list(i**2 for i in l)

[1, 4, 9, 16]

In [ ]:
d = {"key": 1, "key1": 2, "key2": 3, "key4": 4}
squared_dict = {k: v**2 for k, v in d.items()}
print(squared_dict)

# d.items()
print(d.items())

{'key': 1, 'key1': 4, 'key2': 9, 'key4': 16}
dict_items([('key', 1), ('key1', 2), ('key2', 3), ('key4', 4)])

In [ ]:
{k : v for k,v in d.items() if v > 1}

{'key1': 2, 'key2': 3, 'key4': 4}