In [2]:
data = {
    "name": "John",
    "age": 30,
    "city": "New York",
    "subject": ["data science", "big data", "data analysis"]
}

In [3]:
import json

In [4]:
with open ("data.json", "w") as f:
    json.dump(data, f)

In [5]:
with open("data.json", "r") as f:
       data1 = json.load(f)

In [6]:
data1

{'name': 'John',
 'age': 30,
 'city': 'New York',
 'subject': ['data science', 'big data', 'data analysis']}

In [7]:
 data1['subject'][1]

'big data'

In [8]:
import csv

In [14]:
data = [["name", "email", "Phone number"],
        ["shubham", "Shubhamadavji1@gmail.com", 73098111],
        ["shiva", "Shubhamadavji2@gmail.com", 73098111],
        ["shivam", "Shubhamadavji3@gmail.com", 73098111],
        ]

In [15]:
with open ("data.csv", "w") as f:
  writer = csv.writer(f)
  for i in data:
    writer.writerow(i)

In [17]:
with open ("data.csv", "r") as f :
  reader = csv.reader(f)
  for i in reader:
    print(i)

['name', 'email', 'Phone number']
['shubham', 'Shubhamadavji1@gmail.com', '73098111']
['shiva', 'Shubhamadavji2@gmail.com', '73098111']
['shivam', 'Shubhamadavji3@gmail.com', '73098111']

In [18]:
with open("test4.bin", "wb") as f:
  f.write(b"x01\x02\x03\x3454235")

In [19]:
with open("test4.bin", "rb") as f:
  print(f.read())

b'x01\x02\x03454235'