In [ ]:
l = [1, 4, 4, 55, 65, 3, 53]

In [ ]:
for i in l :
  print(i, type(i))

1 <class 'int'>
4 <class 'int'>
4 <class 'int'>
55 <class 'int'>
65 <class 'int'>
3 <class 'int'>
53 <class 'int'>

In [ ]:
l1 = ["shubham", "Shiva", "Krish", "shivam"]

In [ ]:
for i in l1 :
  print(i)

shubham
Shiva
Krish

In [ ]:
for i in l1 :
  print(i)
else :
  print("if for loop is able to complete itself then only else will execute")

shubham
Shiva
Krish
if for loop is able to complete itself then only else will execute

In [ ]:
l1

['shubham', 'Shiva', 'Krish', 'shivam']

In [ ]:
for i in l1:
  if i  == "Shiva" :
    break
  print(i)

shubham

In [ ]:
for i in l1:
  if i  == "Krish" :
    break
  print(i)
else :
  print("execute this if for loop is able to complete itself")

shubham
Shiva

In [ ]:
for i in l1:
  if i  == "Krish" :
    continue
  print(i)
else :
  print("execute this if for loop is able to complete itself")

shubham
Shiva
shivam
execute this if for loop is able to complete itself

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
list(range(0, 5, 1))

[0, 1, 2, 3, 4]

In [ ]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
list(range(-10, 0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [ ]:
l1

['shubham', 'Shiva', 'Krish', 'shivam']

In [ ]:
for i in range(len(l1)):
  print(l1[i])

shubham
Shiva
Krish
shivam

In [ ]:
for i in range(len(l1)-1, -1, -1):
  print(l1[i])

shivam
Krish
Shiva
shubham

In [ ]:
l2 = [32, 42, 42, 3, 5, 2, 85, 46, 86, 24]

In [ ]:
# even index data
list(range(0, len(l2), 2))

[0, 2, 4, 6, 8]

In [ ]:
for i in range(0, len(l2), 2) :
  print(l2[i])

32
42
5
85
86

In [ ]:
l = [12, 324, 3424, 532, 325, 242, 532]

In [ ]:
result = 0
for i in l :
  result = result + i
result

5391

In [ ]:
t = (1, 2, 3, 4, 5)

In [ ]:
result = 0
for i in t :
  result = result + i
result

15

In [ ]:
s = {"shubham", 12321, 21, 13, 144132, 4332, "Shiva", "Krish", "shivam"}

In [ ]:
for i in s :
  print(i)

12321
Krish
144132
shubham
shivam
4332
13
21
Shiva

In [ ]:
s1 = "pwskills"

In [ ]:
for i in s1 :
  print(i)

p
w
s
k
i
l
l
s

In [ ]:
d={"name" : "shubham", "class" : "data science master", "topic" : ["python", "stats", "machine learning", "DL", "CV", "NLP", "resume", "interview"]}

In [ ]:
d

{'name': 'shubham',
 'class': 'data science master',
 'topic': ['python',
  'stats',
  'machine learning',
  'DL',
  'CV',
  'NLP',
  'resume',
  'interview']}

In [ ]:
d['name']

'shubham'

In [ ]:
d.keys()

dict_keys(['name', 'class', 'topic'])

In [ ]:
for i in d.keys():
  print(d[i])

shubham
data science master
['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview']

In [ ]:
d.values()

dict_values(['shubham', 'data science master', ['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview']])

In [ ]:
for i in d.values():
  print(i)

shubham
data science master
['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview']

In [ ]:
d.items()

dict_items([('name', 'shubham'), ('class', 'data science master'), ('topic', ['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview'])])

In [ ]:
for i in d.items():
  print(i)

('name', 'shubham')
('class', 'data science master')
('topic', ['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview'])